/* Color scheme:

#6B9080
#A4C3B2
#CCE3DE
#EAF4F4
#F6FFF8

*/

html {
  background-color: #EAF4F4
}

/* CSS for the logo/header */
.title {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 80px;
  font-weight: bold;
  margin-top: 20px;
}

.subheading {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

p.heading {
  margin-top: 5px;
}

p.heading img {
  margin-left: 5%;
  margin-right: 25px;
  float: left;
  border-radius: 15px;
}

/* -------------- */

.login-buttons{
  display: flex;
  justify-content: flex-end;
}


.Button {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* CSS for individual posters */
/* code for hover overlay adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp*/ 

.movie {
  position: relative;
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 296px;
  width: 200px; */
  opacity: 0;
  transition: .25s ease;
  background-color: #282c34;
  border-radius: 15px;
  width: 200px;
  height: 296px;
}

.movie:hover .overlay {
  opacity: 0.9;
  border-radius: 15px;
}

.movieText {
  color: white;
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/* CSS for MovieList */

.movieList-container{
  width: 80%;
  border: #6B9080;
  /* Old: border: 2px solid #4d648d; */
  background-color: #CCE3DE;
  /* Old: background-color: #d0e1f9; */
  border-radius: 25px;
  margin: 40px auto 0 auto;
  padding: 15px;
}

.movieListTitle-container{
  display: flex;
  padding: 10px;
}

.movieListTitle{
  margin: auto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.movie-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;  /*boxes move around according to screen size*/
}

.moviePoster{
  width: 200px;
  height: 296px;
  border-radius: 15px;
}

/* CSS for UserPage */

.UserPageFlex {
  display: flex;
}

.user {
  border: solid green;
  flex: 30%;
  padding: 10px;
}

.UserContent {
  border: solid black;
  flex: 80%;
  padding: 10px;
}

.AboutMe {
  border: solid purple;
}
/* CSS for ReviewList and Review */

.ReviewList {
  background-color: #CCE3DE;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  width: 95%;
}

.ReviewContainer {
  background-color: #A4C3B2;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 25px;
  margin: 25px;
  transition: transform .2s; 
}

.ReviewContainer h2 {
  font-size: 22px;
}

.ReviewContainer:hover {
  transform: scale(1.01);
}

.Review {
  margin-left: 40px;
}

.ReviewContent {
  /* color: #F6FFF8; */
  color: #262626;
  font-style: italic;
  margin-left: 40px;
  font-size: 18px;
}

.stars {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}