.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.movie:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS for MovieList */

.movieList-container{
  width: 80%;
  border: 2px solid #4d648d;
  background-color: #d0e1f9;
  border-radius: 25px;
  margin: 40px auto 0 auto;
  padding: 15px;
}

.movieListTitle-container{
  display: flex;
  text-align: center;
  padding: 10px;
}

.movieListTitle{
  margin: auto;
}

.movie-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;  /*boxes move around according to screen size*/
}



