/* Color scheme:

#6B9080
#A4C3B2
#CCE3DE
#EAF4F4
#F6FFF8

*/

html {
  background-color: #EAF4F4
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* code for hover overlay adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp*/ 

.movie {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 296px;
  width: 200px; */
  opacity: 0;
  transition: .25s ease;
  background-color: #282c34;
}

.movie:hover .overlay {
  opacity: 0.9;
}

.movieText {
  color: white;
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

/* CSS for MovieList */

.movieList-container{
  width: 80%;
  border: #6B9080;
  /* Old: border: 2px solid #4d648d; */
  background-color: #CCE3DE;
  /* Old: background-color: #d0e1f9; */
  border-radius: 25px;
  margin: 40px auto 0 auto;
  padding: 15px;
}

.movieListTitle-container{
  display: flex;
  text-align: center;
  padding: 10px;
}

.movieListTitle{
  margin: auto;
}

.movie-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;  /*boxes move around according to screen size*/
}

.moviePoster{
  width: 200px;
  height: 296px;
}

